<div class="detail" *ngIf="planet$ | async as planet">
  <button class=" btn filter" mat-flat-button color="accent" (click)="goToAllPlanets(planet)">
    Back
  </button>
  <div style="margin: 20px">
  <h3>   <strong>{{planet.name}}</strong></h3>
  </div>
  <div style="margin: 50px">
    <h4>{{ planet.title }}</h4>
  </div>

  <p class="distance-mode">
    You are <br>
    <span style="color: aliceblue">  {{planet.travelTime}} </span>
    thousands light-years <br>
    form Earth
  </p>
  <figure>
    <img src="{{planet.img}}" class="center" mat-card-sm-image alt="">
    <figcaption class="center">
      {{planet.imgType}}
    </figcaption>
  </figure>


  <div class="explore">
    {{planet.type}}/{{planet.title}}
    <p>
      {{planet.description}}
    </p>
    <span> Id: {{ planet.id }} </span> <br>
    <span class="key">DISCOVERED </span> <span class="value"> {{planet.discovered}}</span><br>
    <span class="key"> PLANET TYPE </span> <span class="value"> {{planet.type}}</span>

  </div>
</div>

