.detail{
  background: black;
  color: lightgray;
  width: 100%;
  font-size: 20px;
}

.key, .value {
  margin: 10px 0 0 0;
  text-transform: uppercase;
}

.key {
  line-height: 1.4;
  text-shadow: none;
}

.value {
  line-height: 1.4;
  text-shadow: none;
  color: #ffd740;;
}

h3 {
  font-size: 80px;
  letter-spacing: 1rem;
}

h4 {
  font-size: 30px;
  margin: 20px;
  text-decoration-style: inherit;
}
.explore  {
  width: 100%;
  max-width: 864px;
  margin: 4em auto 0;
}
.distance-mode {
  writing-mode: horizontal-tb;
  position: absolute;
  left: 80px;
  z-index: 1;
  top: 400px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  color:#ffd740;
  padding: 20px ;
  font-weight: bold;
}
figure{
  background: black;
}
:host {
  display: block;
  background-color: black;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}
