<div *ngIf="planet$ | async as planet">
  <button class=" btn filter" mat-flat-button color="accent" (click)="goToAllPlanets(planet)">Back</button>
  <h3> {{planet.name}}</h3>
  <h4><span>{{ planet.title }}</span></h4>

  <figure>
    <img src="{{planet.img}}" alt="">
    <figcaption>
      {{planet.imgType}}
    </figcaption>
  </figure>

  {{planet.type}}/{{planet.title}}

<p>

  {{planet.description}}
</p>

<span class="key">DISCOVERED </span> <span class="value"> {{planet.discovered}}</span><br>

<span class="key"> PLANET TYPE </span> <span class="value"> {{planet.type}}</span>


<label>Id: </label>{{ planet.id }}

</div>


