<!--<p>planets works!</p>
<p>
  {{planets$|async |json}}
</p>-->
<div class="container">
  <h1> Planets </h1>
  <!--filter button-->

  <app-planets-filter-type [defaultFilters]="currentPlanetTypeFilters"
                           (applied)="planetTypeFilterApplied($event)"></app-planets-filter-type>
  <app-planets-search [defaultSearch]="currentSearch " (applied)="searchingApplied($event)"></app-planets-search>
  <!--list of planets -->
  <div *ngIf="(planets$|async) as planets ">

    <ng-container *ngIf="planets.loading ">
      loading ...
      <mat-spinner></mat-spinner>
    </ng-container>
    <ng-container *ngIf="!planets.loading && planets.data.length===0 ">
      <div> No planets found...</div>
    </ng-container>
  </div>
    <table mat-table [dataSource]="matData">
      <ng-container matColumnDef="title">
        <td  (click)="onSelect(planet)" mat-cell *matCellDef="let planet">
          <div class="mat-card">
            <div class="mat-card-header">
              <img src="{{planet.img}}">
            </div>
            <div class="mat-card-title">
              {{planet.name}}/{{planet.type}}
            </div>
            <div class="mat-card-subtitle">
              {{planet.title}}
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>


  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

