<!--<p>planets works!</p>
<p>
  {{planets$|async |json}}
</p>-->
<div class="container">
  <h1> Planets </h1>
  <mat-spinner></mat-spinner>
  <div class="">

  <div *ngFor=" let planet of planets$ | async ">
    <div class="mat-card">
      <div class="mat-card-header">
        <img src="{{planet.img}}">
      </div>
      <div class="mat-card-title">
        {{planet.name}}/{{planet.type}}
      </div>
      <div class="mat-card-subtitle">
        {{planet.title}}
      </div>
    </div>
  </div>
  </div>
</div>
