
table {
  width: 100%
}
td{
  padding: 100px;
}
td :hover {
  background:gainsboro;
}

.basic {
  width: 50px;
  float: left;
  margin-right:2%;

}
h1{
  letter-spacing: 10px;
  font-size: 40px;
  color: lightgray;
  padding: 50px;
}

.searching-header{
  background-color: black;
}
.waiting-width{
  width: 100%;
  display: flex;
}
.waiting-center{
  display: block;
  margin-left: auto;
  margin-right: auto
}
