
table {
  width: 100%
}
td{
  padding: 100px;
}
td :hover {
  background:gainsboro;
}

.basic {
  width: 50px;
  float: left;
  margin-right:2%;

}

h1{
  letter-spacing: 10px;
  font-size: 40px;
  background: black;
  color: lightgray;
  padding: 50px;
}
