/*img{
  max-width: 50px;
  border-radius: 50px;
}*/
table {
  width: 100%
}
td{
  padding: 100px;
}
td :hover {
  background: pink;
}

.basic {
  width: 50px;
  float: left;
  margin-right: 1.69492%;

}

