<!--<p>planets works!</p>
<p>
  {{planets$|async |json}}
</p>-->
<div class="container">
  <h1> Planets </h1>


<div *ngIf="(planets$|async) as planets; else loading">
  <div *ngFor=" let planet of planets ">
    <div class="mat-card">
      <div class="mat-card-header">
        <img src="{{planet.img}}">
      </div>
      <div class="mat-card-title">
        {{planet.name}}/{{planet.type}}
      </div>
      <div class="mat-card-subtitle">
        {{planet.title}}
      </div>
    </div>
  </div>
  </div>
  <ng-template #loading>
    loading ...
    <mat-spinner></mat-spinner>
  </ng-template>
</div>

