@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: 'Heebo', sans-serif;
  height: 100%;
  position: relative;
  align-items: center;
}

h1, h2, h3, h4 {
  text-align: center;
}
h1, h2, h3 {
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
}

h2 {
  font-size: 40px;
}

body {
  margin: 0;
  font-size: 20px;
  overflow-x: hidden;
  color:black;
}
p{
  line-height: 1.6
}


.btn {
  width: 150px;
  border-radius: 25px;
  margin: 20px;
  padding: 10px;
}

::selection {
  background: salmon;
}

::-moz-selection {
  background: salmon;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
